@import '../../../node_modules/reset-css/reset';

$color-white: rgba(255,255,255,0.87);
$color-blue: rgb(16,108,200);
$color-red: rgb(255,82,82);

body {
  font-family: Arial, Tahoma, sans-serif;
} 

header {
  width: 100%;
  height: 60px;
  background: $color-blue;
}

a {
  text-decoration: none;

  &:active,
  &:hover,
  &:focus,
  &:visited {
    text-decoration: none;    
  }

}

.offer-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin: 0 0 20px 0;
    padding: 10px;
    font-size: 24px;
  }

  &__fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-content: flex-start;
    align-items: flex-start;

    &__block {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex: 1 0 200px;
      padding: 10px;

      &__label {
        display: block;
        margin: 0 0 5px 0;
      }

      &__error {
        display: block;
        height: 12px;
        margin: 2px 0;
        font-size: 12px;
        color: red;
      }

    }

  }

  &__actions {
    display: flex;
    flex-direction: row;

    &__button {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: none;
      border-radius: 2px;
      background: $color-blue;
      color: $color-white;
      margin: 0 10px;
      padding: 0 10px;
      height: 32px;
      font-size: 14px;
      text-decoration: none;
      cursor: pointer;

      &.remove {
        background: $color-red;
      }

      &.cancel {
        background: $color-white;
        color: #676767;
        border: 1px solid #676767;
      }

      &:disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }

}

.offer-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    display: flex;
    padding: 10px;
    font-size: 24px;
  }

  &__container {
    display: block;
    max-width: 800px;
    margin: 0 auto 0 auto;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 0 20px 0;

    &__button {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      border: none;
      border-radius: 2px;
      background: $color-blue;
      color: $color-white;
      padding: 0 10px;
      height: 32px;
      text-decoration: none;

      &:disabled {
        opacity: 0.3;
      }
    }

  }

  &__items {
    display: flex;
    flex-container: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__item,
  &__item a {
    display: flex;
    flex-direction: column;
    flex: 1 0 320px;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    width: 240px;
    max-width: 240px;
    height: 320px;
    margin: 0 20px 20px 0;
    background-size: cover;
    background-repeat: no-repeat;

    &__name,
    &__reduced-price {
      box-sizing: border-box;
      display: flex;
      flex: 1 0 basis;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
    }

    &__price {
      text-align: right;
    }

    &__reduced-price {
      color: #FFEE58;
      font-weight: bold;
    }

  }

}